.container-square {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1152px;
  height: 700px;
  background: #370617;
  align-content: space-around;
  margin: auto;
  padding: 103px;
  gap: 10px;
}

.block {
  box-sizing: border-box;
  width: 468px;
  height: 160px;
  background-color: #f48c06;
  border-radius: 5px;
  display: flex;
  padding: 20px;
}

.block__square {
  width: 78px;
  height: 78px;
  background: #9d0208;
  border-radius: 4px;
}

.block--one {
  justify-content: start;
  align-items: flex-end;
  gap: 20px;
}

.block--two {
  justify-content: center;
  gap: 20px;
  align-items: stretch;
}

.block--two .block__square {
  height: auto;
}

.block--three {
  gap: 20px;
  justify-content: end;
  align-items: center;
}

.block--four {
  justify-content: space-around;

  align-items: center;
}

.block__square--four {
  align-self: end;
}

.block--five {
  align-items: center;
  justify-content: space-evenly;
}
.block--five .block__square--five {
  height: auto;
}
.block__square--five {
  align-self: stretch;
}

.block__square--text-center {
  display: flex;
}
.block__square--text-center span {
  color: #e5e5e5;
  font-size: small;
  margin: 20px 0;
}

.block--six {
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.block--six {
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.block--six .block__square--six {
  flex-grow: 1;
}

.container-circle {
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  align-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  width: 1152px;
  height: 700px;
  background: #e5e5e5;
  padding: 147px;
  margin: auto;
  background-color: #f48c06;
}

.card {
  box-sizing: border-box;
  width: 273px;
  height: 220px;
  background-color: #03071e;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.card__circle {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
}

.card--one {
  justify-content: start;
  align-content: start;
  gap: 20px;
}

.card--two {
  justify-content: end;
  align-content: end;
  gap: 20px;
  flex-wrap: wrap-reverse;
  background-color: #6a040f;
}

.card--three {
  justify-content: space-between;

  align-content: space-between;
  gap: 20px;
}

.card--four {
  justify-content: space-around;
  align-content: space-around;
  gap: 20px;
  background-color: #6a040f;
}

.card--five {
  justify-content: center;

  align-content: center;
  gap: 20px;
}
