.container-square {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1152px;
  height: 700px;
  background: #370617;
  align-content: space-around;
  margin: auto;
}

.block {
  width: 468px;
  height: 160px;
  background-color: #f48c06;
  border-radius: 5px;
  display: flex;
  padding: 20px;
}

.block__square {
  width: 78px;
  height: 78px;
  background: #9d0208;
  border-radius: 4px;
}

.block--left {
  justify-content: start;
  align-items: flex-end;
  gap: 20px;
}

.block--middle {
  justify-content: center;
  gap: 20px;
  align-items: stretch;
}

.block--middle .block__square {
  height: auto;
}

.block--right {
  gap: 20px;
  justify-content: end;
  align-items: center;
}

.block--one {
  justify-content: space-around;

  align-items: center;
}

.block__square--one {
  align-self: end;
}

.block--two .block__square--two {
  height: auto;
}

.block__square--two {
  justify-content: space-evenly;
  gap: 20px;
  align-self: stretch;
}

.block--two {
  align-items: center;
  justify-content: space-evenly;
}

.block--three {
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.block--three {
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.block--three .block__square--three {
  width: 200px;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1152px;
  height: 700px;
  background: #370617;
  align-content: space-around;
  margin-top: 20px;
  margin-left: 20px;
}
.card {
  width: 273px;
  height: 220px;
  background-color: #f48c06;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.card__circle {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
}
.card--one {
  justify-content: space-evenly;
}
.card__circle--one {
  justify-content: left;
}

.container2 {
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  align-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  width: 1152px;
  height: 700px;
  background: #e5e5e5;
  padding: 147px;
  margin: auto;
}

.card {
  box-sizing: border-box;
  width: 273px;
  height: 220px;
  background-color: #f48c06;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.card__circle {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
}

.card--one {
  justify-content: start;
  align-content: start;
  gap: 20px;
}

.card--two {
  justify-content: end;
  align-content: end;
  gap: 20px;
  flex-wrap: wrap-reverse;
}

.card--three {
  justify-content: space-between;

  align-content: space-between;
  gap: 20px;
}

.card--four {
  justify-content: space-around;

  align-content: space-around;
  gap: 20px;
}

.card--five {
  justify-content: center;

  align-content: center;
  gap: 20px;
}
